%table#movies
  %thead
    %tr
      %th Movie Title
      %th Movie Rating
      %th Movie Release Date
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

